<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">

</head>
<body>
  <h2 class="heading" data-en="Skill">スキル</h2>
  <h2 class="heading-1">取得スキル一覧</h2>
    <div class="to_skill">
        <p class="first">Ruby Association Certified Ruby Programmer Silver version 3</p>
    </div>
    <div class="to_skill">
        <p class="first">Ruby Association Certified Ruby Programmer Gold version 3</p>
    </div>
    <div class="to_skill">
        <p class="first">知的財産管理技能検定</p>
    </div>
    <div class="to_skill">
        <p class="first">基本情報技術者試験</p>
    </div>
    <div class="to_skill">
        <p class="first">応用情報技術者試験</p>
    </div>
    <div class="to_skill">
        <p class="first">司法書士</p>
    </div>
    <div class="to_skill">
        <p class="first">一級建築士</p>
    </div>
</body>
</html>