<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
    <h2 class="heading" data-en="Profile">プロフィール</h2>
    <div class="flex">
      <p class="topimg">
      <h2 class="name">佐野大地 -Daichi Sano-</h2>
    </div>
      <p class="sentence">島根県出雲市生まれ。<br>東海大学体育学部を卒業し、2023年に株式会社島根情報処理センターに入社。<br></p>
    <div class="css-fukidashi">
      <p class="text">誕生日はいつ？</p>
      <p class="fukidashi">2000年4月21日</p>
    </div>
    <div class="css-fukidashi">
      <p class="text">趣味は？</p>
      <p class="fukidashi">散歩、UFOキャッチャー</p>
    </div>
    <div class="css-fukidashi">
      <p class="text">好きなスポーツは？</p>
      <p class="fukidashi">バドミントン、<br>ボクシング</p>
    </div>
    <div class="css-fukidashi-2">
      <p class="text-2">好きな食べ物は？</p>
      <p class="fukidashi-2">ラーメン<br></p>
    </div>
    <div class="css-fukidashi-2">
      <p class="text-2">血液型は？</p>
      <p class="fukidashi-2">AB型<br></p>
    </div>
    <div class="css-fukidashi-2">
      <p class="text-2">好きなアニメは？</p>
      <p class="fukidashi-2">ドラゴンボール、<br>僕のヒーローアカデミア</p>
    </div>
  </body>
</html>