<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
</head>
<body>
  <h2 class="heading" data-en="Product">成果物</h2>
  <details class="product">
    <summary class="product_1">パズル＆ドラゴンズ製作</summary>
    <h3>【概要説明】</h3>
    <p class="sentence_1">パズル&ドラゴンズはスマートフォン向けのパズルRPGである。<br>パズルを解く楽しさとRPGの要素が融合したゲームで、戦略やチーム編成が勝敗を大きく左右する
  </details>
  <details class="product_2">
    <summary class="product_1">モンスターストライク製作</summary>
    <h3>【概要説明】</h3>
    <p class="sentence_1">スマートフォン向けのアクションRPGで、2013年に日本でリリースされた。非常に人気があり、特に友達との協力プレイが特徴である。<br>
    シンプルで直感的な操作と、奥深い戦略性が楽しめるゲーム。友達と一緒にプレイすることで、さらに楽しみが広がるのが魅力で多様なモンスターやイベントが常に更新されており、プレイヤーは飽きることなく楽しむことができる。
  </details>
  <details class="product_3">
    <summary class="product_1">荒野行動製作</summary>
    <h3>【概要説明】</h3>
    <p class="sentence_1">バトルロイヤルゲームで、2017年にリリースされた。スマートフォン向けのタイトルとして人気を集め、プレイヤーが広大なマップで最後の一人になることを目指して戦うスタイルが特徴。<br>
    リアルなグラフィックと多様なゲームモード、チームプレイの要素が魅力で、プレイヤーに刺激的な体験を提供している。
  </details>
  <details class="product_4">
    <summary class="product_1">APEX製作</summary>
    <h3>【概要説明】</h3>
    <p class="sentence_1">バトルロワイヤルゲームで2019年にリリースされた。
    Apex Legendsは、戦略的なチームプレイとスピーディなアクションが魅力の人気タイトルで、世界中で多くのプレイヤーに愛されている。<br>
    定期的なアップデートがあり、常に新感覚を楽しめるのも魅力である。
  </details>
</body>
</html>
