h2.name {
    font-size: 80px;
    font-weight: bold;
    margin-top: 110px;
    margin-bottom: 0px;
    margin-left: 50px;
    vertical-align: top;
    display: inline-block;
    text-shadow: -10px -4px 8px #808080;
}


p.sentence {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 100px;
    vertical-align: top;
    display: inline-block;
    z-index: 1000;
}

p.topimg{
    width: 280px;
    height: 320px;
    top: 0%;
    margin-left: 100px;
    background: url(sano_badminton.jpg);
    background-repeat:  no-repeat;
    background-size: cover;
    vertical-align: middle;
    z-index: 0;
    display: inline-block;
    border: 10px solid #FFF;
    box-shadow: 0 0 10px #999;
}

.flex {
    z-index: 100;
    display: inline-block;
    position: relative;
}

.css-fukidashi {
    top: -20;
    padding: 0;
    margin: -15px; 
    display: inline-block;
}

.text {
    -webkit-text-stroke: 1px #000;
    font-size: 30px !important;
    color: #426cf5;
    font-weight: bold;
    width: 250px;
    position: relative;
    margin: 50px;
    left: 80px;
    padding: 50px;
    border-radius: 10px;
    border: 3px solid #ccc;
    background-color: #FFF;
    text-align: center;
}
.fukidashi {
    font-size: 20px;
    font-weight: bold;
    display: none;
    width: 180px;
    position: absolute;
    top: 0;
    left: 395px;
    padding: 30px;
    border-radius: 5px;
    background: #33cc99;
    color: #fff;
    font-weight: bold;
    z-index: 100;
    text-align: center;
}
.fukidashi:after {
    position: absolute;
    width: 0;
    height: 10;
    left: 0;
    bottom: -19px;
    margin-left: 10px;
    border: solid transparent;
    border-color: rgba(51, 204, 153, 0);
    border-top-color: #33cc99;
    border-width: 10px;
    pointer-events: none;
    content: " ";
}
.text:hover + .fukidashi {
    display: block;

}

.css-fukidashi-2 {
    padding: 0;
    margin: -15px; 
    display: inline-block;
}

.text-2 {
    -webkit-text-stroke: 1px #000;
    font-size: 30px !important;
    color: #426cf5;
    font-weight: bold;
    width: 250px;
    position: relative;
    margin: 50px;
    left: 80px;
    padding: 50px;
    border-radius: 10px;
    border: 3px solid #ccc;
    background-color: #FFF;
    text-align: center;
}
.fukidashi-2 {
    font-size: 20px;
    font-weight: bold;
    display: none;
    width: 180px;
    position: absolute;
    top: 0;
    left: 370px;
    padding: 30px;
    border-radius: 5px;
    background: #33cc99;
    color: #fff;
    font-weight: bold;
    z-index: 100;
    text-align: center;
}
.fukidashi-2:after {
    position: absolute;
    width: 0;
    height: 0;
    left: 0;
    bottom: -19px;
    margin-left: 10px;
    border: solid transparent;
    border-color: rgba(51, 204, 153, 0);
    border-top-color: #33cc99;
    border-width: 10px;
    pointer-events: none;
    content: " ";
}
.text-2:hover + .fukidashi-2 {
    display: block;

}
